.one_article_body
{
  background:white;
  margin-top:0;
  border:5px solid #006FFF;
  padding:1%;
  width:100%;
}
.one_article_header{
   background:#006FFF;
    margin-bottom:0;
    font-weight:bold;
    color:white;
  a{
    text-decoration:none;
    color:white;
  }
}
.tags{
  padding:3px;
  font-weight:bold;
}
.copy_id{
  cursor:pointer;
}