.one_article_body
{
  background:white;
  margin-top:0;
  border:5px solid #006FFF;
  padding:1%;
  width:100%;
}
.one_article_header{
   background:#006FFF;
    margin-bottom:0;
    font-weight:bold;
    color:white;
  a{
    text-decoration:none;
    color:white;
  }
}
.tags{
  padding:3px;
  font-weight:bold;
}
.copy_id{
  cursor:pointer;
}
.commentary_two_level .commentary_block{
  margin-left:22px;
  background:#ebebeb;
  padding:10px;
}
.commentary_block{
  border-top:1px solid #006FFF;
}
.text_article{
  font-size:110%;
}
#mod_comments{
  width:80%;
}
.levelUp{
  cursor:pointer;
}
.openUpLevel{
  padding:4px;
}
.openUpLevel:hover{
  cursor:pointer;
  background:#006FFF;
  color:white;
}
.commentLvlTwo{
  display:none;
}
.text_article img{
  width:100%;
}