.icon_desktop{
        cursor: pointer;

}
.icon_desktop:hover{
        background: #F8F9FA7E;
}
.desktop_border{
       height: 80vh;
       overflow: hidden;
       overflow-y: scroll;
       a{
        text-decoration:none;
        color:black;
       }
}