.icon_desktop{
        cursor: pointer;

}
.icon_desktop:hover{
        background: #F8F9FA7E;
}
.desktop_border, .information .body_menu{
       height: 80vh;
       overflow: auto;
       /*overflow-y: scroll;*/
       a{
        text-decoration:none;
        color:black;
       }
}
.all_icon{
        position:relative;
}
.info_article{
        width: 30px;
        height: 30px;
        border-radius: 15px;
        background: #7aff7aa3;
        cursor: pointer;
        position: absolute;
        top: 2%;
        right: 20%;
}
.info_article:hover{
        background:#7aff7a;
}
