.block{
  height:100vh;
  max-height: 100vh;
  overflow: hidden; 
}
.sidebar{
  position: sticky;
  top: 0;
}
.menu_pod{
  display: none;
  position: absolute;
  top: 3%;
  left: 6rem;
  a{
    text-decoration:none;
  }
}

.header_menu{
  background:#006FFF;
  margin-bottom:0;
  font-weight:bold;
  color:white;
}
.body_menu{
  background:white;
  margin-top:0;
  border:5px solid #006FFF;
  padding:1%;
  width:100%;
}

.navigation{
  background:#006FFF;
  width:100%;
  margin:0;
  padding:1%;
  color:white;

  a
  {
    color:white;
    text-decoration:none;
  }
}
 
.content, .menu_bottom{
  background: url('../../public/data_image/menu.svg') no-repeat fixed;
  background-size: cover;
  padding:0;
}
.m_menu{
  font-weight:bold;
  position: relative;
}
.link_group{
  cursor:pointer;
}
.close, .close_h{
  width: 20px;
  height: 20px;
  border-radius: 10px;
  background: red;
  cursor: pointer;
  position: absolute;
  top: 2%;
  right: 1%;
}
.redaction{
  width: 20px;
  height: 20px;
  border-radius: 10px;
  background: green;
  cursor: pointer;
  position: absolute;
  top: 2%;
  right: 10%;
}
.deletearticle{
  width: 20px;
  height: 20px;
  border-radius: 10px;
  background: green;
  cursor: pointer;
  position: absolute;
  top: 2%;
  right: 15%;
}
.close_href{
  padding:5px;
}

.navigation_article a
{
  color:white;
}