/*Основные стили сайта*/

main{
  display: flex;
  flex-wrap: nowrap;
  height: 100vh;
  height: -webkit-fill-available;
  max-height: 100vh;
  overflow-x: auto;
  background: #F8F9FA;
}

body {
  min-height: 100vh;
  min-height: -webkit-fill-available;
  font-family:Ubuntu;
}
html {
  height: -webkit-fill-available;
}
@import 'sidebar';

@import 'search';

@import 'menu';

@import 'article';

@import 'desktop';