@charset "UTF-8";
/*Основные стили сайта*/
main {
  display: flex;
  flex-wrap: nowrap;
  height: 100vh;
  height: -webkit-fill-available;
  max-height: 100vh;
  overflow-x: auto;
  background: #F8F9FA;
}

body {
  min-height: 100vh;
  min-height: -webkit-fill-available;
  font-family: Ubuntu;
}

html {
  height: -webkit-fill-available;
}

.search {
  position: absolute;
  top: 0;
  left: 4.5rem;
  width: 80%;
  background: #F8F9FA;
  text-align: center;
}

.menu, .menu_bottom {
  height: 100vh;
}

.sidebar {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
}

.menu_pod {
  margin: auto 1%;
}
.menu_pod a {
  text-decoration: none;
}

.header_menu {
  background: #006FFF;
  margin-bottom: 0;
  font-weight: bold;
  color: white;
}

.body_menu {
  background: white;
  margin-top: 0;
  border: 5px solid #006FFF;
  padding: 1%;
  width: 100%;
}

.navigation {
  background: #006FFF;
  width: 100%;
  margin: 0;
  padding: 1%;
  color: white;
}
.navigation a {
  color: white;
  text-decoration: none;
}

.content, .menu_bottom {
  background: url(/images/menu.svg?2bb39a008fcd3cde2b881601ea0db444) no-repeat fixed;
  background-size: cover;
  padding: 0;
}

.m_menu {
  font-weight: bold;
}

.link_group {
  cursor: pointer;
}

.one_article_body {
  background: white;
  margin-top: 0;
  border: 5px solid #006FFF;
  padding: 1%;
  width: 100%;
}

.one_article_header {
  background: #006FFF;
  margin-bottom: 0;
  font-weight: bold;
  color: white;
}
.one_article_header a {
  text-decoration: none;
  color: white;
}
