@charset "UTF-8";
/*Основные стили сайта*/
main {
  display: flex;
  flex-wrap: nowrap;
  height: 100vh;
  height: -webkit-fill-available;
  max-height: 100vh;
  overflow-x: auto;
  background: #D8E0FA;
}

body {
  min-height: 100vh;
  min-height: -webkit-fill-available;
}

html {
  height: -webkit-fill-available;
}

.sidebar {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
}

.search {
  position: absolute;
  top: 0;
  left: 4.5rem;
  width: 80%;
  background: #F8F9FA;
  text-align: center;
}
