@charset "UTF-8";
/*Основные стили сайта*/
main {
  display: flex;
  flex-wrap: nowrap;
  height: 100vh;
  height: -webkit-fill-available;
  max-height: 100vh;
  overflow-x: auto;
  background: #F8F9FA;
}

body {
  min-height: 100vh;
  min-height: -webkit-fill-available;
  font-family: Ubuntu;
}

html {
  height: -webkit-fill-available;
}

.hidden {
  display: none;
}

.search {
  position: absolute;
  top: 0;
  left: 4.5rem;
  width: 80%;
  background: #F8F9FA;
  text-align: center;
}

.one_article_body {
  background: white;
  margin-top: 0;
  border: 5px solid #006FFF;
  padding: 1%;
  width: 100%;
}

.one_article_header {
  background: #006FFF;
  margin-bottom: 0;
  font-weight: bold;
  color: white;
}
.one_article_header a {
  text-decoration: none;
  color: white;
}

.tags {
  padding: 3px;
  font-weight: bold;
}

.copy_id {
  cursor: pointer;
}

.icon_desktop {
  cursor: pointer;
}

.icon_desktop:hover {
  background: #F8F9FA7E;
}

.desktop_border {
  height: 80vh;
  overflow: hidden;
  overflow-y: scroll;
}
.desktop_border a {
  text-decoration: none;
  color: black;
}

.all_icon {
  position: relative;
}

.info_article {
  width: 30px;
  height: 30px;
  border-radius: 15px;
  background: #7aff7aa3;
  cursor: pointer;
  position: absolute;
  top: 2%;
  right: 20%;
}

.info_article:hover {
  background: #7aff7a;
}

.block {
  height: 100vh;
  max-height: 100vh;
  overflow: hidden;
}

.sidebar {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
}

.menu_pod {
  display: none;
  position: absolute;
  top: 3%;
  left: 6rem;
}
.menu_pod a {
  text-decoration: none;
}

.header_menu {
  background: #006FFF;
  margin-bottom: 0;
  font-weight: bold;
  color: white;
}

.body_menu {
  background: white;
  margin-top: 0;
  border: 5px solid #006FFF;
  padding: 1%;
  width: 100%;
}

.navigation {
  background: #006FFF;
  width: 100%;
  margin: 0;
  padding: 1%;
  color: white;
}
.navigation a {
  color: white;
  text-decoration: none;
}

.content, .menu_bottom {
  background: url(/images/menu.svg?2bb39a008fcd3cde2b881601ea0db444) no-repeat fixed;
  background-size: cover;
  padding: 0;
}

.m_menu {
  font-weight: bold;
  position: relative;
}

.link_group {
  cursor: pointer;
}

.close, .close_h {
  width: 20px;
  height: 20px;
  border-radius: 10px;
  background: red;
  cursor: pointer;
  position: absolute;
  top: 2%;
  right: 1%;
}

.redaction {
  width: 20px;
  height: 20px;
  border-radius: 10px;
  background: green;
  cursor: pointer;
  position: absolute;
  top: 2%;
  right: 10%;
}

.deletearticle {
  width: 20px;
  height: 20px;
  border-radius: 10px;
  background: green;
  cursor: pointer;
  position: absolute;
  top: 2%;
  right: 15%;
}

.close_href {
  padding: 5px;
}

.navigation_article a {
  color: white;
}
